<!DOCTYPE html>
<html lang="es">
<head>
  <title>Ejemplo Bootstrap</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
 
<div class="container">
  <h2>Ejemplo de carrusel (slideshow)</h2>  
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicadores -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
 
    <!-- Entorno para las diapositivas -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="{{ url_for('static', filename='web/img/about_carrusel.png') }}"  alt="Paisaje-01" style="width:100%;">
      </div>
 
      <div class="item">
        <img src="{{ url_for('static', filename='web/img/about_carrusel.png') }}" alt="Paisaje-02" style="width:100%;">
      </div>
     
      <div class="item">
        <img src="{{ url_for('static', filename='web/img/about_carrusel.png') }}" alt="Paisaje-03" style="width:100%;">
      </div>
    </div>
 
    <!-- Controles izquierda - derecha -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Siguiente</span>
    </a>
  </div>
</div>
 
</body>
</html>